@model GMartUI.Models.CreateEditProductVm

@{
    ViewData["Title"] = "Upsert";
}

<h1>Upsert</h1>

<h4>CreateEditProductVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Upsert" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Product_Name" class="control-label"></label>
                <input asp-for="Product_Name" class="form-control" />
                <span asp-validation-for="Product_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company" class="control-label"></label>
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Price" class="control-label"></label>
                <input asp-for="Product_Price" class="form-control" />
                <span asp-validation-for="Product_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Type" class="control-label"></label>
                @Html.DropDownListFor(model => model.Product_Type,
                                      new SelectList(TempData["ProductTypes"] as IEnumerable<ProductType>,
                                      "ID", "Type_Name"),
                                      "Select Type")
                <span asp-validation-for="Product_Type" class="text-danger"></span>
            </div>

            @{var editCreate = "Create";
                    if (Convert.ToInt32(TempData["ID"]) > 0)
                    {
                        editCreate = "Edit";

                <div class="form-group">
                    <img src="@Model.ImageFullPath" class="img-responsive" width="50" height="50" asp-append-version="true" />
                </div>
            }
            }

            <div class="form-group">
                <label class="control-label ">Select new Picture</label>
                <!--For file input by browsing FileExplorer-->
                <div class="custom-file">
                    <input asp-for="Product_Image" class="form-control custom-file-input" id="customfileinput" />
                    <label class="custom-file-label" for="customfileinput"></label>
                </div>


            </div>


            <div class="form-group">
                <input type="submit" value=@editCreate class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    $("#customfileinput").on("change", function () {
        $(this).siblings(".custom-file-label").html($(this).val().split("\\").pop());
        $(this).siblings(".custom-file-label").addClass("selected");
    })
</script>
}
